<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Gym</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>

    <!-- Navbar -->
<div class="navbar"> 
    <div class="logo"><strong>Power Gym</strong></div> 
    <div class="nav-links"> 
        <a href="/">Home</a> 
        <a href="/about">About</a> 
    </div>
    <!-- Hero Section -->
    <section class="hero" id="home">
        <h1>Build Your Body Strong</h1>
        <p>Join the best gym to transform your life</p>
        <a href="#" class="btn">Join Now</a>
    </section>



    <!-- Footer -->
    <footer>
        <p>© 2025 Power Gym. All Rights Reserved.</p>
    </footer>

</body>
</html>